.comm3_timed_list{
	border:1px solid #bbbbbb;	
	height:130px;	
	padding-bottom:10px;
}

.comm3_timed_list .timed_list_title{
	font-weight:bold;	
	font-family:Dotum;
	border-bottom: 1px solid #d9d9d9;
	padding: 2px 10px 1px 10px;
	line-height: 25px;
	height: 25px;
	background-color: #fcfcfc;	
}

.comm3_timed_list .timed_list_title a{
	color:#444444;
}

.comm3_timed_list .timed_list_title img{
	position:relative;
	top:-2px;
	left:-4px;
	margin-right:2px;
	height:12px;
	width:12px;
}
.comm3_timed_list .timed_list_title a:hover {
	text-decoration: none;
}

.comm3_timed_list .timed_list_title .more_button{
	float:right;	
	font-weight:normal;
	color:#808080;
	font-size: 9pt;
	float:right;
	text-decoration:none;
}

.comm3_timed_list ul{
	list-style:none;
	padding:8px 10px;
	margin:0;	
}

.comm3_timed_list ul li{
	margin-bottom:3px;
	position:relative;
}

.comm3_timed_list ul li .comment_and_time{
	position:absolute;
	top:2px;
	right:0;
}

.comm3_timed_list ul li .time{
	width:60px;
	margin-left:10px;
	display:inline-block;
	text-align:right;
	height:14px;
	overflow:hidden;
	word-break:break-all;
	vertical-align:top;
}

.comm3_timed_list ul li .comment .time{		
	text-align:center;
	margin-left:10px;	
}	

.comm3_timed_list ul li a{
	text-decoration:none;
	font-family:Dotum;
}

.comm3_timed_list ul li .comment_count{
	color:#cc4235;
	display:inline-block;
}

.comm3_timed_list ul li .comment_count.no-comment{
	color:#808080;
}

.comm3_timed_list .subject{
	width:60%;
	overflow:hidden;
	line-height: 17px;
	height: 17px;
	float:left;	
	word-break:break-all;
}

.comm3_timed_list .subject .dot {
	position: relative;
	top: -2px;
	margin-right: 8px;
}